services:
  # Servicio de la Base de Datos PostgreSQL
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=ucc_user
      - POSTGRES_PASSWORD=secure
      - POSTGRES_DB=ucc_db
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # --- SERVICIO PGADMIN
  pgadmin:
    image: dpage/pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - '5050:80' # Accederemos a pgAdmin en el puerto 5050
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  postgres_data:
  pgadmin_data: S
